<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 移動設備前端用 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>畢業審查</title>
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/left-panel.css}">
    <link rel="stylesheet"  th:href="@{/css/right-panel.css}">
    <link rel="stylesheet"  th:href="@{/css/chooseclass.css}">
    <script src="https://kit.fontawesome.com/92dea05507.js" crossorigin="anonymous"></script>
    <script src="header.js" th:src="@{/js/header.js}"></script>
    <script src="chooseclass.js" th:src="@{/js/chooseclass.js}"></script>

</head>

<body>
    <!-- 前面header是html檔案名 後面header是fragment名稱-->
    <main>
        <div class="content">
            <div th:replace="~{admin/student-list :: student-list}"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <!-- <div th:replace="~{left-panel :: left-panel}"></div> -->
        </div>
    </main>

</body>
</html>