<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>畢業審查系統</title>
</head>

<body>
    <nav class="setVersion" th:fragment="version-info">
        <h4>新增組合</h4>
        <ul>
            <li>主修</li>
            <li>輔系</li>
            <li>雙主修</li>
            <li>通識</li>
            <li>學分學程</li>
        </ul>
        <h4>已有組合</h4>
        <ul>
            <li>2024/03/08</li>
            <li>2024/05/20</li>
            <li>2024/09/17</li>
        </ul>
    </nav>
</body>

</html>